In [12]:

import pandas as pd   

table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [2]:
! pip install pandas

Collecting pandas
  Using cached pandas-2.2.3-cp312-cp312-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Using cached numpy-2.1.3-cp312-cp312-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\cc\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\cc\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Using cached pandas-2.2.3-cp312-cp312-win_amd64.whl (11.5 MB)
Using cached numpy-2.1.3-cp312-cp312-win_amd64.whl (12.6 MB)
Using cached pytz-2024.2-py2.py3-none-any.whl (508 kB)
Using cached tzdata-2024.2-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.1.3 pandas-2.2.3 pytz-2024.2 tzdata-2024.2

In [6]:
!conda install lxml -y

Channels:
 - defaults
Platform: win-64
Collecting package metadata (repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\CC\anaconda3\envs\python12

  added / updated specs:
    - lxml


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    ca-certificates-2024.9.24  |       haa95532_0         131 KB
    libxml2-2.13.1             |       h24da03e_2         2.9 MB
    libxslt-1.1.41             |       h0739af5_0         467 KB
    lxml-5.2.1                 |  py312h395c83e_1         1.1 MB
    openssl-3.0.15             |       h827c3e9_0         7.8 MB
    ------------------------------------------------------------
                                           Total:        12.4 MB

The following NEW packages will be INSTALLED:

  libiconv           pkgs/main/win-64::libiconv-1.16-h2bbff1b_3
  libxml2            pkgs/main/win-64::libxml2-2.13.1-h24da03e_2
  libxslt            pkgs/main/win-64::libxslt-1.1.41-h0739af5_0
  lxml               pkgs/main/win-64::lxml-5.2.1-py312h395c83e_1

The following packages will be UPDATED:

  ca-certificates                      2024.3.11-haa95532_0 --> 2024.9.24-haa95532_0
  openssl                                 3.0.14-h827c3e9_0 --> 3.0.15-h827c3e9_0



Downloading and Extracting Packages: ...working... done
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

In [1]:
a : int = 3
b : int = 11

print(a%b)

3

In [3]:
a : int = 2
b : int = 4

print(a**b)

16

In [9]:
a : int = 13
b : int = 3

print(a / b)

4.333333333333333

In [10]:
a : int = 13
b : int = 3

print(a // b)

4

Python Arithmetic Operators

In [14]:
table[1]

   Operator        Example         Same As    Try it
0         =          x = 5           x = 5  Try it »
1        +=         x += 3       x = x + 3  Try it »
2        -=         x -= 3       x = x - 3  Try it »
3        *=         x *= 3       x = x * 3  Try it »
4        /=         x /= 3       x = x / 3  Try it »
5        %=         x %= 3       x = x % 3  Try it »
6       //=        x //= 3      x = x // 3  Try it »
7       **=        x **= 3      x = x ** 3  Try it »
8        &=         x &= 3       x = x & 3  Try it »
9        |=         x |= 3       x = x | 3  Try it »
10       ^=         x ^= 3       x = x ^ 3  Try it »
11      >>=        x >>= 3      x = x >> 3  Try it »
12      <<=        x <<= 3      x = x << 3  Try it »
13       :=  print(x := 3)  x = 3 print(x)  Try it »

In [15]:
table[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [16]:
a : int = 7 
b : int = 8

print(a==b)

False

In [17]:
a : int = 7 
b : int = 7

print(a==b)

True

In [19]:
a : int = 7 
b : int = 7

print(a != b)

False

In [20]:
a : int = 7 
b : int = 8

print(a > b)

False

In [21]:
a : int = 7 
b : int = 8

print(a < b)

True

In [22]:
a : int = 7 
b : int = 7

print(a >= b)

True

In [23]:
a : int = 7 
b : int = 7

print(a <= b)

True

In [24]:
a : int = "A" 
b : int = "B"

print(a > b)

False

ASCii code
A = 65
Z = 90

a = 97
z = 122

0 = 48
9 = 57

In [25]:
table[3
      ]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

In [31]:

print(True and True and True and True) 
print(True and False and True and True)
print(False and False and False and True)

True
False
False

In [33]:
print(True or True or True or True) 
print(True or False or True or True)
print(False or False or False or False)

True
True
False

In [ ]:
namee : str = "Tahir"
print(not namee == "Tahir")

True

In [52]:
a = "abc"
b = "abc"
print(id(a))
print(id(b))

a is b

140714157543688
140714157543688

True

In [70]:
name : list[str] = ["Tahir", "Shoaib"]

uinput : str =input("enter your name")
print(uinput)

uinput in name

Tahir

True

In [71]:
name : list[str] = ["Tahir", "Shoaib"]

uinput : str =input("enter your name")
print(uinput)

uinput not in name

Tahir

False

PEMDAS

In [2]:
pemdas : int = 2 + 5 - 6 + 4 * 2/ 8 * 2
# 4 * 2 = 8

#  8 / 8 = 1

#  1 * 2 = 2

#  2 + 5 - 6 + 2

#  2 + 5 = 7
#  7 - 6 = 1
#  1 + 2 = 3


print(pemdas)

3.0

In [3]:
universe_age : int = 14_000_000_000
print(universe_age)

14000000000

In [4]:
a  ,  b , c = "Tahir", 19  , "university student"
print(a)
print(b)
print(c)

Tahir
19
university student

In [5]:
data = ("Tahir", 19  , "university student")
print(data[0],data[1],data[2])

Tahir 19 university student

In [6]:
data = ("Tahir", 19  , "university student")

print(*data)

Tahir 19 university student

In [7]:
a : int =  5

if (a < (b := a+5)):
  print(a)
else:
  print("else is working")

5

In [8]:
a : int =  5

if (a > (b := a+5)):
  print(a)
else:
  print("else is working")

else is working