In [2]:
# boudries
# "string", 'string' , '''string''', """String"""

namess : str = "Tahir"
print(type(namess))
print(namess)

<class 'str'>
Tahir

In [ ]:
namess : str = 'Tahir'
print(type(namess))
print(namess)

In [3]:
namess : str = "Student Id card \n father's names "
print(type(namess))
print(namess)

<class 'str'>
Student Id card
 father's names

In [ ]:
# convert any special character into simple character place \ before character 

namess : str = 'Student Id card \n father\'s names  '
print(type(namess))
print(namess)

<class 'str'>
Student Id card
 father's names

In [11]:
name: str = "Tahir"
age : int = 23
fathername : str = "Shoaib"

card : str = "Piaic student card \nStudent name : " + name + fathername + "\nage : " + str(age)
print(card)

Piaic student card
Student name : TahirShoaib
age : 23

In [13]:
name: str = "Tahir"
age : int = 23
fathername : str = "Shoaib"

card : str = f"""
Piaic student card 
Student name : {name}
Father name : {fathername}
Age : {age}

"""
print(card)

Piaic student card
Student name : Tahir
Father name : Shoaib
Age : 23

In [14]:
name: str = "Tahir"
age : int = 23
fathername : str = "Shoaib"

card : str = f'''
Piaic student card 
Student name : {name}
Father name : {fathername}
Age : {age}

'''
print(card)

Piaic student card
Student name : Tahir
Father name : Shoaib
Age : 23

In [ ]:
# Jinja techniq
name = "tahiir"
card : str ="""

Student name : {{name}}
"""
print(card)

Student name : {{name}}

In [1]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = f"""
PIAIC Student Card
Student Name : %s
Father's Name: %s
Age: %d
Education : %s

""" % (name, fname, age, education)

print(card)

PIAIC Student Card
Student Name : Muhammad Qasim
Father's Name: Muhammad Aslam
Age: 30
Education : Master in Data Science

In [2]:
[i for i in dir(str) if "__" not in i]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [3]:
a = 7
b = 8
# {} place holder
#                   0                1          0 1
"pakistan value a = {} and value b = {}".format(a,b)

'pakistan value a = 7 and value b = 8'

In [4]:
# {} place holder
#                   0                1          0 1
"pakistan value a = {} and value b = {}".format(a,b)

'pakistan value a = 7 and value b = 8'

In [5]:
name : str = "MUhAMMad QaSiM"

print(name.capitalize())
print(name.lower())

Muhammad qasim
muhammad qasim

In [6]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = f"""
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}

Total {2 + 8 + 9 + 3}
"""

print(card)

PIAIC Student Card
Student Name : Muhammad Qasim
Father's Name: Muhammad Aslam
Age: 30
Education : Master in Data Science

Total 22

In [7]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = """
PIAIC Student Card
Student Name : {}
Father's Name: {}
Age: {}
Education : {}
""".format(fname, name, education, age)

print(card)

PIAIC Student Card
Student Name : Muhammad Aslam
Father's Name: Muhammad Qasim
Age: Master in Data Science
Education : 30

In [10]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = """
PIAIC Student Card
Student Name : {1}
Father's Name: {0}
Age: {3}
Education : {2}
""".format(fname, name, education, age)
#           0      1       2        3

In [11]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = """
PIAIC Student Card
Student Name : {a}
Father's Name: {b}
Age: {c}
Education : {d}
""".format(a=name, b=fname, c=age, d=education)


print(card)

PIAIC Student Card
Student Name : Muhammad Qasim
Father's Name: Muhammad Aslam
Age: 30
Education : Master in Data Science

In [12]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = f"""
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}
"""

print(card)

PIAIC Student Card
Student Name : Muhammad Qasim
Father's Name: Muhammad Aslam
Age: 30
Education : Master in Data Science

In [13]:
student_code : str = """
print("My Name is Muhammad Qasim")
a:int = 7
b:int = 8
print(a + b)
"""

exec(student_code)

My Name is Muhammad Qasim
15

In [14]:
a: list[str] = [i for i in dir(str) if "__" not in i]
print(a)
print(len(a))

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
47

In [15]:
name : str = "MuHammAd QasIm"

#variable_name.method()
print(name.capitalize())

Muhammad qasim

In [16]:
name : str = "MuHammAd QasIm"

#variable_name.method()
print(name)
print(name.casefold())

MuHammAd QasIm
muhammad qasim

In [17]:
name : str = "MuHammAd QasIm"

#variable_name.method()
print(name)
print(name.lower())

MuHammAd QasIm
muhammad qasim

In [18]:
name : str = "      MuHammAd QasIm         "

#variable_name.method()
display(name)
display(name.lstrip())

'      MuHammAd QasIm         '

'MuHammAd QasIm         '

In [19]:
name : str = "      MuHammAd QasIm         "

#variable_name.method()
display(name)
display(name.rstrip())

'      MuHammAd QasIm         '

'      MuHammAd QasIm'

In [20]:
name : str = "      MuHammAd QasIm         "

#variable_name.method()
display(name)
display(name.strip())

'      MuHammAd QasIm         '

'MuHammAd QasIm'

In [21]:
name : str = "      MuHammAd       QasIm         "

#variable_name.method()
display(name)
display(name.strip())

'      MuHammAd       QasIm         '

'MuHammAd       QasIm'

In [22]:

import re

name : str = "      MuHammAd           QasIm         "

display(name)

name1 : str = re.sub(' {2,100}',' ', name).strip()
display(name1)

'      MuHammAd           QasIm         '

'MuHammAd QasIm'

In [23]:
name : str = "MuHammAd QasIm"

#variable_name.method()
display(name)
display(name.title())

'MuHammAd QasIm'

'Muhammad Qasim'

In [24]:
name:str = "Ada Lovelace"
print(name.upper())
print(name.lower())

ADA LOVELACE
ada lovelace

In [25]:
print("Name:\t\t Muhammad Qasim")

Name:		 Muhammad Qasim

In [26]:
print("Name:\nMuhammad Qasim")

Name:
Muhammad Qasim

In [27]:
print("Name:\bMuhammad Qasim")

NameMuhammad Qasim

In [28]:
nostarch_url:str = 'https://nostarch.com'
nostarch_url.removeprefix('https://')

'nostarch.com'

In [29]:
1name : str = "Qasim"
print(1name)

SyntaxError: invalid decimal literal (2214117265.py, line 1)

In [30]:
_1name : str = "Qasim"
print(_1name)

Qasim

In [31]:
piaic student name : str = "Muhammad Qasim"
print(piaic student name)

SyntaxError: invalid syntax (379964243.py, line 1)

In [32]:
piaic_student_name : str = "Muhammad Qasim"
print(piaic_student_name)

Muhammad Qasim