In [ ]:
# Old version
names: list[str] = ['Shoaib', 'Tahir', 'Tahir Shoaib']
# for(i = 0; i < names.length; i++) {
#     names[i]
# }

# New version
names:list[str] = ['Tahir','Shoaib','Tahir Shoaib']

for name in names:
  print(name)

# Important:
# In Python, you end a loop or condition with a colon (:).
# Unlike JavaScript or TypeScript where you use {}, 
# Python makes it easier — you just add a colon (:) at the end.
# But to close the block, you must use proper indentation.
# Any code written after reducing the indentation will run outside the loop.
#
# First, you define an iterable data type (like a list).
# Example: I created a list called 'names'.
# Then, to access each item from the list, you use:
# for name in names:
# Here, 'name' is just a variable that stores each value one by one from 'names'.


names:list[str] = ['Tahir','tahir Shoaib','Shoaib']

for name in names[:1]:
  print(name)
  print(f'MY Name is {name.title()}\n')
print(f'This is me {names[1:2]} ')

Tahir
Shoaib
Tahir Shoaib
Tahir
MY Name is Tahir

This is me ['tahir Shoaib']

In [ ]:
names:list[str] = ['Tahir','tahir Shoaib','Shoaib']

for name in names[-3:3:2]:
  print(name)
  print(f'MY brother {name.title()}\n')
print(f'this is me {names[1:2]} ')

sawban
MY brother Sawban

anas
MY brother Anas

this is me ['tahir']

In [1]:
data_base : list[tuple[str,str]] = [('tahir','123'),('Shoaib','123')]

input_user : str = input("Enter user name")
input_password : str = input("Enter user Passwword")

for row in data_base:
  user , password = row
  if input_user == user and input_password == password:
    print(f"This is user {input_user.title()} and user password {input_password} valid")
    break
else:
  print(f"{input_user} and {input_password} not valid")

Tahir and 123 not valid

In [ ]:
# enumerate() converts your list into tuples containing both the index and the value of each element.
# It’s useful when you want to loop through a list and keep track of the item’s position.

names : list[str] = ["Tahir","Shoaib"] 
list(enumerate(names))

for index , name in enumerate(names):
  print(index,name)

0 Tahir
1 Shoaib

In [12]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
list(range(2,21,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [3]:
for n in range(1,11):
  print(f"{2} x {n} = {n*2}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [53]:
squares :list[int] = []
for value in range(1,11):
  square = value ** 2
  squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [54]:
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [60]:
number = [1,2,3,4,5]

print(max(number))
print(min(number))
print(sum(number))

5
1
15

In [7]:
name : list[str] = ["Tahir","shoaib"]
deep_copy = name[:]

print(name)
print(deep_copy)

deep_copy[0]="Change"

print(name)
print(deep_copy)

['Tahir', 'shoaib']
['Tahir', 'shoaib']
['Tahir', 'shoaib']
['Change', 'shoaib']